# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/out/
/updater/
/run/
/.idea/

src/main/resources/
src/test/resources/
forge-installer.jar.log
forge-installer-patched.jar.log