name: Gradle CI

on:
  push:
    branches: [ master ]

jobs:
  testjava:
    strategy:
      matrix:
        jdk: [8, 17]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'zulu'

      - name: Build and test project with Java ${{ matrix.jdk }}
        run: gradle build javadoc
